body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    margin-top: 0;
}
header , footer {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    border: 2px;
    padding: 10px;
    background-color: #faebd7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.filler {
    height: 2px;
    background: black;
    box-shadow: black 0px 0px 0px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 50px;
}
header a, footer a {
    color: rgb(138, 48, 241);
    text-decoration: none;
    font-size: 20px;
}
#what-is-this{
    box-shadow: 0 0 0 10px magenta;
}
#how-does-this-work{
    box-shadow: 0 0 0 10px cyan;
}
#but-why{
    box-shadow: 0 0 0 10px orange;
}
header{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    box-shadow: 0 0 0 10px black;
    background: black;
}

footer{
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 20px 0;
    box-shadow: 0 0 0 10px black;
    background: black;
}
header ul {
    padding: 0;   
    margin: 0; 
    text-align: left; 
    display: inline-block; 
}
footer p {
    margin: 2px 0; 
    font-size: 14px;  
}